.headermenu-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    position:fixed;
    z-index:1000;
    /* border:1px solid black; */
    background-color: rgb(255, 255, 255);
}
.navbar-container {
    height:60px;
    width:150px;
    
}

.navbar-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.login-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-right:1rem;
}